Añadir comentario a <strong><%= quiz.pregunta %></strong>:<p>

<form method="post" action="/quizes/<%=quiz.id%>/comments/">
  <input type="text" id="comment" name="comment[texto]" value=""/><p>
  <button type="submit">Enviar</button>
</form>

<% include _list.ejs %>